:root {
    --bg-color: #222;
    --text-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.editor {
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    position: relative;
    margin-top: 2rem;
}

#content {
    white-space: pre-wrap;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}